@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofadi+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}



@media screen and (max-width:765px) {

    /* home page */
    .hero-p {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        background-image: url(Src/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .start-btn {
        text-decoration: none !important;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 32px;
        background-color: #793340;
        border: 6px solid #E1B5BB;
        color: white;
        gap: 8px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .text {
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .svg {
        padding-top: 5px;
        height: 100%;
        width: fit-content;
    }

    .svg svg {
        width: 50px;
        height: 30px;
    }

    .button:active {
        border: 5px solid;
    }

    .button:hover .svg svg {
        animation: jello-vertical 0.9s both;
        transform-origin: left;
    }

    @keyframes jello-vertical {
        0% {
            transform: scale3d(1, 1, 1);
        }

        30% {
            transform: scale3d(0.75, 1.25, 1);
        }

        40% {
            transform: scale3d(1.25, 0.75, 1);
        }

        50% {
            transform: scale3d(0.85, 1.15, 1);
        }

        65% {
            transform: scale3d(1.05, 0.95, 1);
        }

        75% {
            transform: scale3d(0.95, 1.05, 1);
        }

        100% {
            transform: scale3d(1, 1, 1);
        }
    }

    /* page1 */
    .main-container {
        width: 100%;
        height: fit-content;
        background-image: url(Src/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-bottom: 20px;
        z-index: 1;
        position: relative;
        padding-bottom: 40px;
    }

    .pngWrap {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: #29292965;
        backdrop-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .4s;
    }

    .clear-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 4px solid #E1B5BB;
        color: #fff;
    }

    .say {
        width: 100%;
        height: 80px;
        background-color: #793340;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s all;
    }

    .text-scroll {
        color: #ffff;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .purpose-valen {
        width: 100%;
        height: fit-content;
        padding: 0 15px;
        margin-top: 20px;
        transition: .4s all;
    }

    .pur-content {
        width: 100%;
        height: fit-content;
        background-color: #793340;
        padding: 20px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }

    .pur-content p {
        font-size: 1rem;
        line-height: 30px;
        color: #ffffff;
        font-weight: 500;
    }

    .shayri {
        width: 100%;
        height: fit-content;
        padding: 0 15px;
        margin-top: 20px;
        transition: .4s all;
    }

    .s-head {
        width: fit-content;
        background-color: #793340;
        padding: 15px;
        border-radius: 5px;
    }

    .s-head h4 {
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
    }

    .s-content {
        width: 100%;
        height: fit-content;
        padding: 15px 0;
        margin-top: 15px;
        background-color: #793340;
        border-radius: 5px;
    }

    .s-content ul {
        padding: 0 20px;
        list-style: none;
    }

    .s-content ul li {
        font-size: 1rem;
        color: #ffffff;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .next {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        transition: .4s all;
    }

    .next a {
        text-decoration: none;
    }

    .button-2 {
        position: relative;
        transition: all 0.3s ease-in-out;
        padding-block: 0.5rem;
        padding-inline: 1.25rem;
        background-color: #793340;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffff;
        gap: 10px;
        font-weight: bold;
        border: 5px solid #E1B5BB;
        outline: none;
        overflow: hidden;
        font-size: 15px;
        cursor: pointer;
    }

    .icon {
        width: 24px;
        height: 24px;
        transition: all 0.3s ease-in-out;
    }

    .button-2:hover {
        transform: scale(1.05);
        border-color: #fff9;
    }

    .button-2:hover .icon {
        transform: translate(4px);
    }

    .button-2:hover::before {
        animation: shine 1.5s ease-out infinite;
    }

    .button-2::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100%;
        background-image: linear-gradient(120deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0.8),
                rgba(255, 255, 255, 0) 70%);
        top: 0;
        left: -100px;
        opacity: 0.6;
    }

    @keyframes shine {
        0% {
            left: -100px;
        }

        60% {
            left: 100%;
        }

        to {
            left: 100%;
        }
    }

    /* page2 */
    .main-1-container {
        width: 100%;
        height: fit-content;
        background-image: url(Src/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-bottom: 20px;
        z-index: 1;
        position: relative;
        overflow: hidden;
    }

    .scroll {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scroll h1 {
        font-size: 12rem;
        animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    @keyframes heartBeat {
        0% {
            transform: scale(0.95);
        }

        5% {
            transform: scale(1.1);
        }

        39% {
            transform: scale(0.85);
        }

        45% {
            transform: scale(1);
        }

        60% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.9);
        }
    }


    .l-content {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow-x: hidden;
    }

    .l-content span {
        font-size: 5rem;
        margin-bottom: 20px;
        font-weight: 800;
        color: #793340;
    }

    .png {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .png img {
        width: 400px;
        height: 500px;
        border-radius: 5px;
    }

    .memories-btn {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .memories-btn a {
        text-decoration: none;
    }

    /* page 3 */
    .memories-container {
        width: 100%;
        height: 100vh;
        background-image: url(Src/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-bottom: 20px;
        position: relative;
    }

    .m-head {
        width: 100%;
        height: fit-content;
        padding: 20px;
        background-color: #793340;
    }

    .m-head h4 {
        font-size: 1.2rem;
        text-align: center;
        color: #ffffff;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .memories-swiper {
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        overflow: hidden;
    }

    /* swiper */

    .swiper {
        width: 240px;
        height: 320px;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-memories {
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 160px;
        height: 260px;
        border-radius: 10px;
        transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        overflow: hidden;
        outline: 4px solid #793340;
    }

    .card video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .row {
        display: flex;
        gap: 20px;
    }

}