@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofadi+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}



@media screen and (max-width:765px) {

    .hero-p {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        background-image: url(Src/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .start-btn {
        text-decoration: none !important;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 32px;
        background-color: #ff257e;
        border: 6px solid #ffc5e6;
        color: white;
        gap: 8px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .text {
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .svg {
        padding-top: 5px;
        height: 100%;
        width: fit-content;
    }

    .svg svg {
        width: 50px;
        height: 30px;
    }

    .button:active {
        border: 5px solid;
    }

    .button:hover .svg svg {
        animation: jello-vertical 0.9s both;
        transform-origin: left;
    }

    @keyframes jello-vertical {
        0% {
            transform: scale3d(1, 1, 1);
        }

        30% {
            transform: scale3d(0.75, 1.25, 1);
        }

        40% {
            transform: scale3d(1.25, 0.75, 1);
        }

        50% {
            transform: scale3d(0.85, 1.15, 1);
        }

        65% {
            transform: scale3d(1.05, 0.95, 1);
        }

        75% {
            transform: scale3d(0.95, 1.05, 1);
        }

        100% {
            transform: scale3d(1, 1, 1);
        }
    }

    .main-container {
        width: 100%;
        height: 100vh;
        background-image: url(Src/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1;
        position: relative;
    }

    .purpose {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: #29292965;
        backdrop-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: .4s all;
    }

    .thanks {
        width: 90%;
        height: fit-content;
        padding: 15px;
        border: 4px solid #ffc5e6;
        background-color: #ff257e;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .thanks p{
        color: 	#ffffff;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .cancel {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid #ffc5e6;
        background-color: #ff257e;
        color: #ffffff;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 1.1rem;
    }

    .say {
        width: 100%;
        height: 80px;
        background-color: #d600004c;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: .4s all;
    }

    .text-scroll {
        color: #ffff;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 3px;
    }

    .purpose-valen {
        width: 100%;
        height: fit-content;
        padding: 0 15px;
        margin-top: 15px;
    }

    .pur-content {
        width: 100%;
        height: 500px;
        background-image: url(Src/img-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    .pur-content::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.469);
        z-index: -1;
    }

    .pur-content p {
        font-size: 1.5rem;
        line-height: 40px;
        color: 	#d60000;
        font-weight: 600;
    }

}